# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Transpiled JavaScript files
#
# Keep an eye on this list if you're using TypeScript and working with JavaScript files
# alongside. If you need to check in JavaScript files that would otherwise be ignored
# due to these rules, you'll need to add an exclusion rule. For example, to keep a
# specific file:
#
# !**/file.js
#
# Or to keep all files in a specific directory:
#
# !**/scripts/*
#
# Or to keep all JavaScript files in the project:
#
# !**/*.js
*.js
*.mjs

# TypeScript cache
*.tsbuildinfo

# Next.js build outputs
/.next/
/out/

# Next.js ESLint cache
/.eslintcache

# Production Caches
.firebase/
*.log

# System Files
.DS_Store
Thumbs.db

# Environment Variables
.env
.env*.local
!/.env.example

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# VSCode
.vscode/
